<header class="sticky top-0 bg-white shadow px-4 py-3 flex justify-between items-center">
  <mat-icon (click)="onToggleClick()" class="!text-3xl cursor-pointer">menu</mat-icon>
  <div class="flex items-center space-x-2">
    <img src="/assets/images/avatar.png" class="w-10 h-10 rounded-full" alt="Profile" />
    <div class="flex flex-col gap-[0.1rem]">
      <span class="text-sm font-medium">Mark Brown</span>
      <span class="text-xs text-yellow-600">(Principal)</span>
    </div>
  </div>
</header>