<div class="grid grid-cols-1 md:grid-cols-6 gap-4">
  <mat-form-field appearance="outline">
    <mat-label>Grade Range</mat-label>
    <mat-select [(ngModel)]="gradeRange" (change)="updateFilters()">
      @for (grade of grades; track grade) {
        <mat-option [value]="grade">{{grade}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="status" (selectionChange)="updateFilters()">
      @for (status of allStatus; track status) {
        <mat-option [value]="status">{{status}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Grade</mat-label>
    <mat-select [(ngModel)]="grade" (selectionChange)="updateFilters()">
      @for (allGrade of allGrades; track allGrade) {
        <mat-option [value]="allGrade">{{allGrade}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Semester</mat-label>
    <mat-select [(ngModel)]="semester" (selectionChange)="updateFilters()">
      @for (semester of semesters; track semester) {
        <mat-option [value]="semester">{{semester}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <input type="text" matInput placeholder="Search Teacher" [(ngModel)]="teacher" (input)="updateFilters()" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input type="text" matInput placeholder="Search Student" [(ngModel)]="student" (input)="updateFilters()" />
  </mat-form-field>
</div>